.progress_container {
  background-color: #e07c7c;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  width: 100%;
}
.progress_heading {
  font-size: 28px;
  font-weight: 500;
  line-height: 32.81px;
  color: #ffffff;
}
.progress_line {
  margin-block: 0.6rem;
  width: 100%;
  height: 7px;
  background-color: #3b3b3b;
  position: relative;
  border-radius: 999px;
  overflow: hidden;
}

.progress_bar {
  height: 100%;
  background-color: #fff;
  border-radius: 999px;
  transition: all 0.5s;
}
.completed_text {
  color: #ebb9b8;
}
